@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<img src="~/images/pic4.jpg" alt="Microsoft Azure" class="img-responsive" style="width:1200px;height:400px;" />
<p>Use this area to provide additional information.</p>
